
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content  refund-->
  <ul class="nav left">
    <li class="nav-item">
      <a class="nav-link" routerLink='createBook'>CreateBook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='search'>Search Book</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='buyBook'>BuyBook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="checkPayment">CheckByPayment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='readBook'>ReadBook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='allPurchasedBook'>AllPurchasedBok</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='refund'>Refund</a>
    </li>
  
  </ul>


<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" routerLink="signup">SignUp</a>
  </li>
  <li class="nav-item" auto>
    <a class="nav-link" routerLink='signin' autofocus>SignIn</a>
  </li>
</ul>
 

</nav>


  
  
  
   <router-outlet></router-outlet>
   
  


