<!doctype html>
<html lang="en">
 
  <body class="p-3 m-0 border-0 bd-example">

    <table style="width:100%;height: 4px;">
  
        <tr style="height:100px;background-color: darkslategrey;">
         
        
          <td>
          <h3 align="center">Digitalbook</h3>      
          </td>  
        </tr> 
      </table>
      <h3 align="center">LOGIN TO YOUR ACCOUNT</h3>   
    
    <div  align="center"  class="col-md-12 needs-validation was-validated"  novalidate="">
      
      
      <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Username</label>
        <input type="text" class="form-control" placeholder="Password *" [(ngModel)]="user.username" id="validationCustom05" required="">
        <div class="invalid-feedback">
          Please provide a valid Username.
        </div>
      </div>
      
      <div class="col-md-3">
        <label for="validationCustom05" class="form-label">Password</label>
        <input type="text" class="form-control" placeholder="Password *" [(ngModel)]="user.password" id="validationCustom05" required="">
        <div class="invalid-feedback">
          Please provide a valid Password.
        </div>
      </div>

      <div  class="col-12" >
        <button  class="btn btn-primary mb-4" (click)='signin()'>LOGIN</button>
    </div>
</div>
    

    
  </body>
</html>